main {
  background-color: $brand-color-1;
}


div.cardWidth {
  max-width: 31.25em;
  height: auto;
}

// styling imgs of the movies
.myImage {
  height: 95%;      /*  or 100% of container */
  width: 100%;    /* or 100% of container */
  object-fit: cover; /* none can be an option too as cover may deform it*/
  object-position: 20% 10%; /* if both 50% will center it*/
    
}


//styles for the like button 
.buttonStyles {
  background-color: $brand-color-4;
  border-radius: 50%;
  width: 3em;
  height: 3em;
}

//styles for the sort button
#sortButton {
  width: 4em;
}