/* here is the list of the variables */

  /* color palette */
  $brand-color-1: #F8F4E3;
  $brand-color-2: #2A2B2A;
  $brand-color-3: #F5C518;
  $brand-color-4: #706C61;
  
  
    /* fonts variables */
  $brand-font-1: 'Geostar', cursive;
  $brand-font-2: 'Geostar Fill', cursive;
  $brand-font-3: 'Roboto', sans-serif;


  /* background color variables*/
  .bgColor-1 {
    background-color: $brand-color-1;
  } 

  .bgColor-2 {
    background-color: $brand-color-2;
  } 

  .bgColor-3 {
    background-color: $brand-color-3;
  } 
  
  .bgColor-4 {
    background-color: $brand-color-4;
  } 

  /* font color variables*/
  .textColor-1 {
    color: $brand-color-1;
  } 

  .textColor-2 {
    color: $brand-color-2;
  } 

  .textColor-3 {
    color: $brand-color-3;
  } 
  
  .textColor-4 {
    color: $brand-color-4;
  } 
  
  