/* here is the list of the variables */

  /* color palette */
  $brand-color-1: #fff;
  $brand-color-2: #333;
  $brand-color-4: #C4A69D;
  $brand-color-6: #363457;
  
  
    /* fonts varibales */
  $brand-font-1: 'Codystar', cursive, sans-serif;
  $brand-font-2: 'Raleway', sans-serif;