@import 'variables';
@import 'header';
@import 'main';
@import 'footer';



/* styles giving classes specific font families */
.font-1 {
  font-family: $brand-font-1;
}

.font-2 {
  font-family: $brand-font-2;
}

.font-3 {
  font-family: $brand-font-3;
}


/* overwriting the default bootstrap background colors */

/* basic styes */

  /* align items in the center of the container */
.alignCenter {
  margin: 0 auto;
}


//styles for links
a {
  text-decoration: none; 
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}